# Configuration file

general {
    I:searchdist=7
}


ores {

    quartz {
        I:blue=0
        B:enabled=false
        I:green=74
        I:id=153
        I:meta=0
        S:name=Кварц Нижнего Мира
        I:red=30
    }

    iron {
        I:blue=37
        B:enabled=false
        I:green=117
        I:id=15
        I:meta=0
        S:name=Железная руда
        I:red=170
    }

    tin {
        I:blue=161
        B:enabled=true
        I:green=161
        I:id=254
        I:meta=3
        S:name=Оловянная руда
        I:red=161
    }

    gold {
        I:blue=0
        B:enabled=false
        I:green=255
        I:id=14
        I:meta=0
        S:name=Золотая руда
        I:red=255
    }

    coal {
        I:blue=0
        B:enabled=false
        I:green=0
        I:id=16
        I:meta=0
        S:name=Уголь
        I:red=0
    }

    diamond {
        I:blue=255
        B:enabled=false
        I:green=136
        I:id=56
        I:meta=0
        S:name=§bАлмазная Руда
        I:red=136
    }

    redstone {
        I:blue=0
        B:enabled=false
        I:green=0
        I:id=73
        I:meta=0
        S:name=Редстоун
        I:red=255
    }

    copper {
        I:blue=0
        B:enabled=true
        I:green=102
        I:id=254
        I:meta=1
        S:name=Медная руда
        I:red=204
    }

    emerald {
        I:blue=10
        B:enabled=true
        I:green=136
        I:id=129
        I:meta=0
        S:name=Изумрудная Руда
        I:red=0
    }

    uranium {
        I:blue=0
        B:enabled=true
        I:green=255
        I:id=254
        I:meta=4
        S:name=Урановая руда
        I:red=0
    }

    lapis {
        I:blue=255
        B:enabled=false
        I:green=0
        I:id=21
        I:meta=0
        S:name=Лазурит
        I:red=0
    }

    nickel_white {
        S:blue=0
        S:enabled=false
        S:green=0
        S:id=478
        S:meta=3
        S:name=NICKEL_WHITE
        S:red=255
    }

    rock {
        S:blue=0
        S:enabled=false
        S:green=0
        S:id=1
        S:meta=0
        S:name=ROCK
        S:red=0
    }

    nickel_gray {
        S:blue=0
        S:enabled=false
        S:green=255
        S:id=479
        S:meta=3
        S:name=NICKEL_GRAY
        S:red=255
    }

    nickel_black {
        S:blue=255
        S:enabled=false
        S:green=255
        S:id=480
        S:meta=3
        S:name=NICKEL_BLACK
        S:red=0
    }

    негр {
        S:blue=0
        S:enabled=false
        S:green=0
        S:id=449
        S:meta=0
        S:name=НЕГР
        S:red=0
    }

    uranus {
        S:blue=0
        S:enabled=false
        S:green=0
        S:id=478
        S:meta=7
        S:name=URANUS
        S:red=255
    }

    золотобел {
        S:blue=0
        S:enabled=false
        S:green=0
        S:id=478
        S:meta=0
        S:name=золото бел
        S:red=255
    }

    osmium_orig {
        S:blue=255
        S:enabled=false
        S:green=255
        S:id=422
        S:meta=0
        S:name=osmium_orig
        S:red=255
    }

    osmium_white {
        S:blue=255
        S:enabled=false
        S:green=255
        S:id=478
        S:meta=14
        S:name=OSMIUM_WHITE
        S:red=255
    }

    osmium_gray {
        S:blue=0
        S:enabled=false
        S:green=255
        S:id=479
        S:meta=14
        S:name=OSMIUM_GRAY
        S:red=255
    }

    osmium_black {
        S:blue=0
        S:enabled=false
        S:green=0
        S:id=480
        S:meta=14
        S:name=OSMIUM_BLACK
        S:red=255
    }

    clay {
        S:blue=255
        S:enabled=false
        S:green=166
        S:id=82
        S:meta=0
        S:name=CLAY
        S:red=255
    }

}


